{% extends "base_generic.html" %}

{% block content %}
<h1>TP Final - Introducción a la Bioinformática</h1>

<p>Indique los valores solicitados en los campos de abajo y haga click en <em>Procesar</em>.</p>


<div class="container">
	<div class="input-group mb-3">
		<input type="text" class="form-control" id="pID" placeholder="PDB id">
	</div>
	<div class="input-group mb-3">
		<input type="text" class="form-control" id="filterEValue" placeholder="E-Value filter">
	</div>
	<div class="input-group mb-3">
		<input type="text" class="form-control" id="filterConservationPersentage" placeholder="Conservation persentage">
	</div>
	<button type="button" class="btn btn-primary" onclick="Request()">Procesar</button>
</div>


<script type='text/javascript'>
	$( document ).ready(function() {
		$('#pID').val('1LXA');
		$('#filterEValue').val('1e-13');
		$('#filterConservationPersentage').val('80');
	});

	function Request() {
		let pID = $('#pID').val();
		let filterEValue = $('#filterEValue').val();
		let filterConservationPersentage = $('#filterConservationPersentage').val();
		window.location.href = `/homology/detail/${pID}/${filterEValue}/${filterConservationPersentage}`;
		//href="{% url 'homology-detail' pID='1LXA' filterEValue='1e-13' filterConservationPersentage=80 %}"
	}
</script>

{% endblock %}