{% extends "base_generic.html" %}

{% block references %}

	{% load static %}
	<!-- START icn3d references -->
	<link rel="stylesheet" href="{% static 'references/icn3d/icn3d_full_ui.css' %}">
	<script type='text/javascript' src="{% static 'references/icn3d/lib/three.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'references/icn3d/icn3d_full_ui.min.js' %}"></script>
	<!-- END-->

	<!-- JSAV -->
	<link rel="stylesheet" href="{% static 'references/JSAV/JSAV.css' %}" />
	<script type='text/javascript' src="{% static 'references/JSAV/JSAV.js' %}"></script>

	<!-- If using tooltipster -->
	<link rel="stylesheet" href="{% static 'references/JSAV/external/tooltipster-master/css/tooltipster.css' %}" />
	<script type='text/javascript' src="{% static 'references/JSAV/external/tooltipster-master/js/jquery.tooltipster.min.js' %}"></script>
	<script>
		function enableTooltipster()
		{
			$(document).ready(function() {
				$('.tooltip').tooltipster();
			});
		}
		enableTooltipster();
	</script>
	<!-- END -->
	

	<style type="text/css">
		.gallery {float:left; padding: 5px; margin: 10px;}

		body {font-family: Verdana, Arial, Helvetica, sans-serif;}

		.nonBreak {
			overflow-x: auto;
			display: flex;
		}

		.nonBreak p {
			font-family:'Lucida Console', monospace;
			white-space: pre;
			margin: 0;
		}

		.JSAV .tooltip , .JSAVControls .tooltip {
			position: revert;
			display: revert;
			opacity: revert;
		}
		.JSAVControls , div.JSAVControls > span > p {
			margin: 0;
		}

	</style>

{% endblock %}


{% block content %}


	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 ">

				<div class="row">
					<h1><strong>ID:</strong> {{ homology.idProt }}</h1>
				</div>
				<div class="row">
					<div class="col-sm-1 ">
						<strong>sequence:</strong>
					</div>
					<div class="col-sm-11 ">
						<div class="nonBreak">
							<p>{{ homology.sequence }}</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">

				<div class="row">
					<div id="div3DView" class="gallery_bak"></div>
				</div>
			</div>
			<div class="col-sm-8">

				<div id='sequenceDisplay'></div>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 ">
				<strong>Conservation 1º:</strong>
			</div>
			<div class="col-sm-10 ">
				<div class="nonBreak">
					<p><span id="pConservation1" ></span></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 ">
				<strong>Conservation 2º:</strong>
			</div>
			<div class="col-sm-10 ">
				<div class="nonBreak">
					<p><span id="pConservation2" ></span></p>
				</div>
			</div>
		</div>
	</div>

	<script type='text/javascript'>

		$( document ).ready(function() {
			getClustalAlignment(successCallback = () => {
				getConservation_1(successCallback = () => {
					getConservation_2();
				});
			});
			
			configure_iCn3D();

			setViewer_SingleElement(reqParams.idProt);
		});
		
		/* 
		* Modifico la funcion del link en los enlaces con el PSB Id para que cambie la vista del componente 3d.
		*/
		$('body').on('DOMNodeInserted', 'div.JSAV', 
		(evt) => {
			$(evt.target).find('.outerseqtable > .seqtable > table > tbody > tr.seqrow > td.idCell > a')
				.each((i,e) => {
					let pID = $(e).parent().parent().attr("id").split('|')[1];
					$(e).removeAttr("href");
					$(e).attr("onclick",`set3dViewerIDs("${reqParams.idProt + (reqParams.idProt != pID ? '|' + pID : '' )}")`);
				});
		});

		var reqParams = {
			idProt: "{{ homology.idProt }}",
			sequence: "{{ homology.sequence }}",
			filterEValue: "{{ homology.filterEValue }}",
			filterConservationPersentage1: "{{ homology.filterConservationPersentage1 }}",
			filterConservationPersentage2: "{{ homology.filterConservationPersentage2 }}"
		};

		var MyOptions = Array();
		MyOptions.sortable = true;
		MyOptions.selectable = true;
		MyOptions.deletable = true;
		MyOptions.highlight = [3,5,10,14];
		//MyOptions.submit = "http://www.bioinf.org.uk/software/jsav/echo.cgi";
		//MyOptions.action = "myAction(MySeqs)";
		//MyOptions.actionLabel = "My Action";
		MyOptions.toggleDotify = true;
		MyOptions.toggleNocolour = true;
		MyOptions.fasta = false;
		MyOptions.consensus = true;
		MyOptions.colourScheme = "clustal";
		MyOptions.selectColour = true;
		MyOptions.callback = "enableTooltipster";
		MyOptions.idSubmit = "";//"http://www.bioinf.org.uk/software/jsav/echo.cgi";
		//MyOptions.idSubmitKey = "seq";
		//MyOptions.idSubmitClean = true;
		
		function createArrayOfLen(x) {
			return Array.from({length: x}, (_, i) => i + 1)
		}
		//var labels = createArrayOfLen(MySeqs[0].sequence.length).map((e) => `L${e}`);
		//MyOptions.labels = labels;

		// MyOptions.autoLabels = true;
		
		//printJSAV('sequenceDisplay', MySeqs, MyOptions);

		function getConservation_1(successCallback) {
			$("#pConservation1").html('<h3>Loading...</h3>');
			return $.ajax({
				type: "GET",
				url: `/conservation/${reqParams.idProt}/${reqParams.filterEValue}/${reqParams.filterConservationPersentage1}`,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success(data) {
					if (data) {
						let consensusFiltered = data.conservation.consensusFiltered;
						let consensusSequence = data.conservation.conservation.reduce(((str,e) => str + e[0]), '')
						let consensusPercentage = data.conservation.conservation
							.map((e) => e[1])
							.reduce(((str,e) => `${str}<span style="background-color: rgba(201, 76, 76, ${e/100}); cursor: default;" title="${e}%">&nbsp;</span>`), '');
						
						$('#pConservation1').html(
							consensusSequence + "\n" +
							consensusFiltered + "\n" +
							consensusPercentage);

						successCallback();
					}
				},
				error(error) {
					console.error(error);
					$("#pConservation1").html('<h3>Error inesperado al calcular la conservacion.</h3>');
				}
			});
		}
		
		function getConservation_2(successCallback) {
			$("#pConservation2").html('<h3>Loading...</h3>');
			return $.ajax({
				type: "GET",
				url: `/conservation2/${reqParams.idProt}/${reqParams.filterEValue}/${reqParams.filterConservationPersentage2}`,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success(data) {
					if (data) {
						let consensusFiltered = data.conservation.consensusFiltered;
						let consensusSequence = data.conservation.conservation.reduce(((str,e) => str + e[0]), '')
						let consensusPercentage = data.conservation.conservation
							.map((e) => e[1])
							.reduce(((str,e) => `${str}<span style="background-color: rgba(201, 76, 76, ${e/100}); cursor: default;" title="${e}%">&nbsp;</span>`), '');
						
						$('#pConservation2').html(
							consensusSequence + "\n" +
							consensusFiltered + "\n" +
							consensusPercentage);
						
						successCallback();
					}
				},
				error(error) {
					console.error(error);
					$("#pConservation2").html('<h3>Error inesperado al calcular la conservacion.</h3>');
				}
			});
		}
		
		function getClustalAlignment() {
			$("#sequenceDisplay").html('<h3>Loading alignment...</h3>');
			return $.ajax({
				type: "GET",
				url: `/clustal/${reqParams.idProt}/${reqParams.filterEValue}`,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success(data) {
					if (data) {
						$("#sequenceDisplay").html('');
						
						//let MySeqs = [ {id: "", sequence: ""} ]
						let MySeqs = data.alignment
							.map((e) => ({id: e.id.substring(1,9), sequence: e.sequence}))
							.sort((a, b) => (a.id.includes(reqParams.idProt) ? -1 : 1));
						let labels = createArrayOfLen(MySeqs[0].sequence.length).map((e) => `L${e}`);
						MyOptions.labels = labels;

						printJSAV('sequenceDisplay', MySeqs, MyOptions);
						$('#sequenceDisplay').css("width", "revert");
						
						let pIdHomo = data.alignment.map((e) => e.id.split('|')[2]).filter((e) => e != reqParams.idProt);
						$('#divCmb3dViewSelector').html(`
						<select id="cmb3dViewSelector" onchange="cmb3dViewSelector_onChange()">
							<option value="${reqParams.idProt}" selected="selected">${reqParams.idProt}</option>
							${pIdHomo.reduce(((str,e) => str + `<option value="${reqParams.idProt}|${e}">${reqParams.idProt} | ${e}</option>`), '')}
						</select>`);

						successCallback();
					}
				},
				error(error) {
					console.error(error);
					$("#sequenceDisplay").html('<h3>Error inesperado al buscar el alineamiento.</h3>');
				}
			});
		}

		function set3dViewerIDs(pIDs) {
			pIDs = pIDs.split('|');
			if (pIDs.length == 2)
				setViewer_ManyElements([[pIDs[0],'9C27B0'],[pIDs[1],'FA8072']]);
			else
				setViewer_SingleElement(pIDs[0]);
		}



		function setViewer_SingleElement(el) {
			setupViewer('pdbid', el, 'div3DView');
		}
		function setViewer_ManyElements(els) {
			if (els.length > 0) {
				let idProts = '';
				let command = 'defined sets; ';
				els.forEach((el) => {
					idProts += (idProts.length > 0 ? ',' : '') + el[0];
					command += `select sets ${el[0]}_A; color ${el[1]}; style proteins cylinder and plate; `;
				});
				command += `select sets ${
					els.reduce(
						((str,e) => { 
							return str + (str != '' ? ' or ' : '') + e[0] + '_A' 
						}), '')
				}; show selection; set background white; close popup`;

				setupViewer('align', idProts, 'div3DView', command);
			}
		}

		function configure_iCn3D() {
			
			// --Modify iCn3D Method 3--: start modifying iCn3DUI and iCn3D =================================================================
			iCn3DUI.prototype.setTools = function() {
				var me = this, ic = me.icn3d; "use strict";
				var html = "";
				html += me.divStr + "selection' style='display:none;'><div style='position:absolute; z-index:555; float:left; display:table-row; margin: 32px 0px 0px 3px;'>";
				html += "<table style='margin-top: 3px; width:100px;'><tr valign='center'>";
				html += me.setTools_base();
				var buttonStyle = me.isMobile() ? 'none' : 'button';
				var tdStr = "<td valign='top'>";

				// start adding custom buttons ==========
				// e.g., html += tdStr + me.setButton(buttonStyle, 'saveimage', 'Save iCn3D PNG Image', 'Save iCn3D<br/>PNG Image') + "</td>";
				// end adding custom buttons ==========

				html += "</tr></table>";
				html += "</div></div>";
				return html;
			};

			iCn3DUI.prototype.allCustomEvents = function() { 
				var me = this;
			};

			iCn3DUI.prototype.setCustomDialogs = function() { 
				var me = this, ic = me.icn3d; "use strict";
				var html = "";
				return html;
			};

			// modify iCn3D function
			iCn3DUI.prototype.modifyIcn3d = function() { 
				var  me = this; "use strict";
				me.modifyIcn3dshowPicking();
			};
			// end modifying iCn3D ============================================================

			window.icn3duiHash = {};
		}

		function setupViewer(idName, idValue, divid, command) {
			var options = {};

			// --Three Methods to modify the iCn3D view--
			// --Modify iCn3D Method 1--: You can change the default options.
			//Options are available at: https://www.ncbi.nlm.nih.gov/Structure/icn3d/icn3d.html#DisplayOptions
			options['chemicalbinding'] = 'show';

			// --Modify iCn3D Method 2--: add commands, e.g., 'color spectrum'
			command = (command) ? command : '';

			let parentWidth = $('#div3DView').parent().css("width");
			var cfg = {
				divid: divid,
				width: parentWidth,
				height: parentWidth,
				mobilemenu: true,
				showcommand: false,
				showtitle: false,
				command: command,
				options: options
			};
			if(idName !== '') cfg[idName] = idValue;

			var icn3dui = new iCn3DUI(cfg);
			//icn3dui.show3DStructure();

			//communicate with the 3D viewer with chained functions
			$.when(icn3dui.show3DStructure()).then(function() {
				// add functions here
				//icn3dui.updateHlAll();
			});

			window.icn3duiHash[divid] = icn3dui;
		}
	</script>

	<!-- log & Google Analytics -->
	<!--<script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/core/pinger/pinger.js"></script>-->

	
{% endblock %}

