{% extends "base_generic.html" %}

{% block references %}

	<!-- START icn3d references -->
	<link rel="stylesheet" href="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/jquery-ui.min.css">
	<link rel="stylesheet" href="https://www.ncbi.nlm.nih.gov/Structure/icn3d/icn3d_full_ui.css">
	<script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/jquery.min.js"></script>
	<script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/jquery-ui.min.js"></script>
	<script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/lib/three.min.js"></script>
	<script src="https://www.ncbi.nlm.nih.gov/Structure/icn3d/icn3d_full_ui.min.js"></script>
	<!-- END-->

	{% load static %}
	<!-- JQuery and JQuery-UI -->
	<link rel="stylesheet" href="{% static 'references/JSAV/external/jquery.css' %}">
	
	<script type='text/javascript' src="{% static 'references/JSAV/external/jquery-1.10.2.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'references/JSAV/external/jquery-ui-1.10.4.custom.min.js' %}"></script>
	
	<!-- JSAV -->
	<link rel="stylesheet" href="{% static 'references/JSAV/JSAV.css' %}" />
	<script type='text/javascript' src="{% static 'references/JSAV/JSAV.js' %}"></script>

	<!-- If using tooltipster -->
	<link rel="stylesheet" href="{% static 'references/JSAV/external/tooltipster-master/css/tooltipster.css' %}" />
	<script type='text/javascript' src="{% static 'references/JSAV/external/tooltipster-master/js/jquery.tooltipster.min.js' %}"></script>
	<script>
		function enableTooltipster()
		{
			$(document).ready(function() {
				$('.tooltip').tooltipster();
			});
		}
		enableTooltipster();
	</script>
	<!-- END -->
	

	<style type="text/css">
		.gallery {float:left; padding: 5px; margin: 10px;}

		body {font-family: Verdana, Arial, Helvetica, sans-serif;}
	</style>

{% endblock %}


{% block content %}


	
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 ">

				<h1><strong>ID:</strong> {{ homology.idProt }}</h1>
				<p><strong>sequence:</strong><span class="wrap"> {{ homology.sequence }}</span></p>

			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">

				<div id="div3DView" class="gallery"></div>
				
				<input type="button" onclick="setViewer_SingleElement('{{ homology.idProt }}');" value="{{ homology.idProt }}" />
				<input type="button" onclick="setViewer_ManyElements([['4L03','87CEEB'],['6KDY','FA8072']]);" value="4L03 | 6KDY" />
				<input type="button" onclick="setViewer_ManyElements([['2JF3','87CEEB'],['2AQ9','FA8072']]);" value="2JF3 | 2AQ9" />

			</div>
			<div class="col-sm-8">

				<div id='sequenceDisplay'></div>

			</div>
		</div>
	</div>

	<script type='text/javascript'>

		var reqParams = {
			idProt: "{{ homology.idProt }}",
			sequence: "{{ homology.sequence }}",
			filterEValue: "{{ homology.filterEValue }}",
			filterConservationPersentage: "{{ homology.filterConservationPersentage }}"
		};

		function myAction(sequences)
		{
		   var seqString = "";
		   for(var i=0; i<sequences.length; i++)
		   {
			   seqString += ">" + sequences[i].id + "\n";
			   seqString += sequences[i].sequence + "\n";
		   }
		   alert(seqString);
		}
		
		var MyOptions = Array();
		MyOptions.sortable = true;
		MyOptions.selectable = true;
		MyOptions.deletable = true;
		MyOptions.highlight = [3,5,10,14];
		MyOptions.submit = "http://www.bioinf.org.uk/software/jsav/echo.cgi";
		MyOptions.action = "myAction(MySeqs)";
		MyOptions.actionLabel = "My Action";
		MyOptions.toggleDotify = true;
		MyOptions.toggleNocolour = true;
		MyOptions.fasta = true;
		MyOptions.consensus = true;
		MyOptions.colourScheme = "zappo";
		MyOptions.selectColour = true;
		MyOptions.callback = "enableTooltipster";
		MyOptions.idSubmit = "http://www.bioinf.org.uk/software/jsav/echo.cgi";
		MyOptions.idSubmitKey = "seq";
		MyOptions.idSubmitClean = true;
		
		function createArrayOfLen(x) {
			return Array.from({length: x}, (_, i) => i + 1)
		}
		//var labels = createArrayOfLen(MySeqs[0].sequence.length).map((e) => `L${e}`);
		//MyOptions.labels = labels;

		// MyOptions.autoLabels = true;
		
		//printJSAV('sequenceDisplay', MySeqs, MyOptions);

		
		function getClustalAlignment() {
			$("#sequenceDisplay").html('<h3>Loading alignment...</h3>');
			$.ajax({
				type: "GET",
				url: `/clustal/${reqParams.idProt}/${reqParams.filterEValue}`,
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success(data) {
					if (data) {
						$("#sequenceDisplay").html('');
						
						let MySeqs = data.alignment; //[ {id: "", sequence: ""} ]
						let labels = createArrayOfLen(MySeqs[0].sequence.length).map((e) => `L${e}`);
						MyOptions.labels = labels;

						printJSAV('sequenceDisplay', MySeqs, MyOptions);
					}
				},
				error(error) {
					console.error(error);
					$("#sequenceDisplay").html('<h3>Error inesperado al buscar el alineamiento.</h3>');
				}
			});
		}
	</script>


	<script type="text/javascript">
		$( document ).ready(function() {
			getClustalAlignment()

			// --Modify iCn3D Method 3--: start modifying iCn3DUI and iCn3D =================================================================
			iCn3DUI.prototype.setTools = function() {
				var me = this, ic = me.icn3d; "use strict";
				var html = "";
				html += me.divStr + "selection' style='display:none;'><div style='position:absolute; z-index:555; float:left; display:table-row; margin: 32px 0px 0px 3px;'>";
				html += "<table style='margin-top: 3px; width:100px;'><tr valign='center'>";
				html += me.setTools_base();
				var buttonStyle = me.isMobile() ? 'none' : 'button';
				var tdStr = "<td valign='top'>";

				// start adding custom buttons ==========
				// e.g., html += tdStr + me.setButton(buttonStyle, 'saveimage', 'Save iCn3D PNG Image', 'Save iCn3D<br/>PNG Image') + "</td>";
				// end adding custom buttons ==========

				html += "</tr></table>";
				html += "</div></div>";
				return html;
			};

			iCn3DUI.prototype.allCustomEvents = function() { 
				var me = this;
			};

			iCn3DUI.prototype.setCustomDialogs = function() { 
				var me = this, ic = me.icn3d; "use strict";
				var html = "";
				return html;
			};

			// modify iCn3D function
			iCn3DUI.prototype.modifyIcn3d = function() { 
				var  me = this; "use strict";
				me.modifyIcn3dshowPicking();
			};
			// end modifying iCn3D ============================================================

			window.icn3duiHash = {};

			setViewer_SingleElement(reqParams.idProt);

		}); // document ready

		function setViewer_SingleElement(el) {
			setupViewer('pdbid', el, 'div3DView');
		}
		function setViewer_ManyElements(els) {
			if (els.length > 0) {
				let idProts = '';
				let command = 'defined sets; ';
				els.forEach((el) => {
					idProts += (idProts.length > 0 ? ',' : '') + el[0];
					command += `select sets ${el[0]}_A; color ${el[1]}; style proteins cylinder and plate; `;
				});
				command += `select sets ${
					els.reduce(
						((str,e) => { 
							return str + (str != '' ? ' or ' : '') + e[0] + '_A' 
						}), '')
				}; show selection; set background white; close popup`;

				setupViewer('align', idProts, 'div3DView', command);
			}
		}

		function setupViewer(idName, idValue, divid, command) {
			var options = {};

			// --Three Methods to modify the iCn3D view--
			// --Modify iCn3D Method 1--: You can change the default options.
			//Options are available at: https://www.ncbi.nlm.nih.gov/Structure/icn3d/icn3d.html#DisplayOptions
			options['chemicalbinding'] = 'show';

			// --Modify iCn3D Method 2--: add commands, e.g., 'color spectrum'
			command = (command) ? command : '';

			var cfg = {
				divid: divid,
				width: 300,
				height: 300,
				mobilemenu: true,
				showcommand: false,
				showtitle: false,
				command: command,
				options: options
			};
			if(idName !== '') cfg[idName] = idValue;

			var icn3dui = new iCn3DUI(cfg);
			//icn3dui.show3DStructure();

			//communicate with the 3D viewer with chained functions
			$.when(icn3dui.show3DStructure()).then(function() {
				// add functions here
				//icn3dui.updateHlAll();
			});

			window.icn3duiHash[divid] = icn3dui;
		}
	</script>

	<!-- log & Google Analytics -->
	<script type="text/javascript" src="https://www.ncbi.nlm.nih.gov/core/pinger/pinger.js"></script>

	
{% endblock %}

